<div class="inner">
    <ul class="contact">
        {{ range $item := .Site.Params.contact.social_icons }}
            <li class="icon {{ $item.icon }}">
                <strong>{{ $item.title }}</strong>
                {{ replace $item.text "\n" "<br />" | safeHTML }}
            </li>
        {{ end }}
    </ul>
    <form action="#" method="post">
        <h4>Get in touch</h4>
        <div class="fields">
            <div class="field half">
                <label for="name">Name</label>
                <input name="name" id="name" type="text" placeholder="Name">
            </div>
            <div class="field half">
                <label for="email">Email</label>
                <input name="email" id="email" type="email" placeholder="Email">
            </div>
            <div class="field">
                <label for="message">Message</label>
                <textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
            </div>
        </div>
        <ul class="actions">
            <li><input value="Send Message" class="button large" type="submit"></li>
        </ul>
    </form>
</div>
